<!-- My Discussion -->
<ng-container *ngIf="myDiscussions.data && myDiscussions.data.length > 0">
  <app-page-header [display]="'My Voices'" color="subheader">
    <button mat-icon-button title="Enabled" (click)="myDiscussions.isExpanded = false" *ngIf="myDiscussions.isExpanded">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-icon-button title="Disabled" (click)="myDiscussions.isExpanded = true"
      *ngIf="!myDiscussions.isExpanded">
      <mat-icon>visibility_off</mat-icon>
    </button>
  </app-page-header>

  <ng-container *ngIf="myDiscussions.isExpanded">
    <owl-carousel-o [options]="customOptions" (translated)="handleSlidedData($event)" class="bigscreen">
      <ng-template carouselSlide *ngFor="let discussion of myDiscussions.data; let i = index;">
        <ng-template [ngTemplateOutlet]="discussioncrousel" [ngTemplateOutletContext]="{
        discussion: discussion,
        length: myDiscussions.data.length,
        i: i
      }"></ng-template>
      </ng-template>
    </owl-carousel-o>
    <div class="mobile mobile-dicussions-container">
      <ng-container *ngFor="let discussion of myDiscussions.data; let i = index;">
        <ng-template [ngTemplateOutlet]="discussioncrousel" [ngTemplateOutletContext]="{ discussion: discussion }">
        </ng-template>
      </ng-container>
      <p align="center" *ngIf="myDiscussions.hasNextPage()">
        <button mat-raised-button (click)="loadMyDiscussionNextPage()">Load More...</button>
      </p>
    </div>
  </ng-container>
</ng-container>

<!-- Dicsussion Crousel for dashboard -->
<ng-template #discussioncrousel let-discussion="discussion">
  <app-discussion-carousel [discussion]="discussion"></app-discussion-carousel>
</ng-template>





<!-- NEWS Dashboard -->
<!-- <ng-container *ngIf="discussionsDahboard.data && discussionsDahboard.data.length > 0"> -->
<app-page-header [display]="'NEWS'" color="subheader">

  <!-- Content Visibility -->
  <button mat-icon-button title="Enabled" (click)="news.isExpanded = false" *ngIf="news.isExpanded">
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-icon-button title="Disabled" (click)="news.isExpanded = true"
    *ngIf="!news.isExpanded">
    <mat-icon>visibility_off</mat-icon>
  </button>

  <!-- Timeline -->
  <mat-chip color="primary" [matMenuTriggerFor]="menu" [attr.title]="selectedTimeLine.display"
    [style.background]="selectedTimeLine.backgroundColor" class="selected-option">
    {{selectedTimeLine.display}}
  </mat-chip>
  <mat-menu #menu="matMenu">
    <ng-container *ngFor="let timeLine of allTimeLines">
      <ng-container *ngIf="timeLine.id != selectedTimeLine.id">
        <mat-chip color="primary" [attr.title]="timeLine.display" class="time-line-option"
          [style.background]="timeLine.backgroundColor" (click)="setTimeLine(timeLine)">
          {{timeLine.display}}
        </mat-chip><br>
      </ng-container>
    </ng-container>
  </mat-menu>

  <!-- Scope -->
  <mat-chip color="primary" [matMenuTriggerFor]="menu1" [attr.title]="selectedScope.display"
    [style.background]="selectedScope.backgroundColor" class="selected-option">
    {{selectedScope.display}}
  </mat-chip>
  <mat-menu #menu1="matMenu">
    <ng-container *ngFor="let scope of allScopes">
      <ng-container *ngIf="scope.id != selectedScope.id">
        <mat-chip color="primary" [attr.title]="scope.display" class="time-line-option"
          [style.background]="scope.backgroundColor" (click)="setScope(scope)">
          {{scope.display}}
        </mat-chip><br>
      </ng-container>
    </ng-container>
  </mat-menu>
</app-page-header>
<!-- </ng-container> -->