.discussion-card {
    // border: solid 1px black;

    .action-buttons {
        float: right;
        position: absolute;
        right: 0px;
        z-index: 1;
        padding-right: 16px;
        white-space: nowrap;
    }

    .discussion-message {
        overflow: hidden;
    }

    .discussion-action {
        margin: auto;
        padding-top: 16px;
    }

    .discussion-message {
        width: 100%;
        padding: 10px;
        padding-left: 16px;
        padding-left: 16px;

        ::ng-deep p img {
            max-width: 90% !important;
        }
    }

    .discussion-head {
        
        ::ng-deep .mat-mdc-card-header-text {
            width: 100%;
        }

        .discussion-title {
            display: flex;
            width: 100%;
        }
    }

    .vote-messages {
        // background-color: red;
        overflow: auto;
    }
}

.deleted {
    border: solid 1px black;
    opacity: 0.2;
}

@media (max-width: 400px) {

    .discussion-card {

        .discussion-message {
            height: 100px;
            max-height: 100px;
        }

        .vote-messages {
            max-height: 200px;
        }
    }
}

@media (min-width: 401px) and (max-width: 760px) {

    .discussion-card {

        .discussion-message {
            height: 120px;
            max-height: 120px;
        }

        .vote-messages {
            max-height: 250px;
        }
    }
}

@media (min-width: 761px) and (max-width: 1000px) {

    .discussion-card {

        .discussion-message {
            height: 150px;
            max-height: 150px;
        }

        .vote-messages {
            max-height: 300px;
        }
    }
}

@media (min-width: 1000px) {

    .discussion-card {

        .discussion-message {
            height: 250px;
            max-height: 250px;
        }

        .vote-messages {
            max-height: 300px;
        }
    }
}