<ng-container *ngIf="!discussion">
    No data found in our database.
</ng-container>

<ng-container *ngIf="discussion">
    <mat-card class="discussion-card" [ngClass]="{'deleted': isDeleted}">

        <mat-card-header class="discussion-head">
            <mat-card-title class="discussion-title">
                {{ discussion.title }}
                <div class="spacer"></div>

                <!-- Pinch Out -->
                <button mat-icon-button color="accent" class="bigscreen" [ngClass]="{ 'mobile': !isOwner }"
                    [routerLink]="['/home/discussionDetail/', discussion._id]">
                    <mat-icon>pinch_zoom_out</mat-icon>
                </button>
                <!-- Edit -->
                <button mat-icon-button color="primary"
                    *ngIf="isOwner && !discussion.isVotingEnabled && !discussion.isBlocked"
                    [routerLink]="['/home/editDiscussion/', discussion._id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <!--  -->
                <button mat-icon-button color="warn"
                    *ngIf="isOwner && !discussion.isVotingEnabled && !discussion.isBlocked"
                    (click)="handleDeleteDiscussion()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-subtitle class="discussion-state">
                <div class="flex">
                    <app-discussion-next-state [discussion]="discussion" [showControl]="isOwner"
                        (changeState)="handleChangeState($event)">
                    </app-discussion-next-state>

                    <div class="spacer"></div>
                    <div class="discussion-created-date">
                        {{ discussion.createdOn | date }}
                    </div>
                </div>
            </mat-card-subtitle>

        </mat-card-header>
        <div class="discussion-message" [innerHTML]="discussion.message">
        </div>
        <mat-card-actions class="flex">
            <button mat-icon-button color="accent" [routerLink]="['/home/discussionDetail/', discussion._id]">
                <mat-icon>pinch_zoom_out</mat-icon>
            </button>
            <div class="flex flex-scrollable">
                <ng-container>
                    <button mat-icon-button *ngFor="let allVoteType of discussion.voteTypes"
                        (click)="voteDiscussion(allVoteType)" [attr.title]="allVoteType.name"
                        [disabled]="!discussion.isVotingEnabled || isMyVote(allVoteType) || isDeleted"
                        [matBadge]="getVoteCategoryCount(allVoteType)"
                        [matBadgeHidden]="getVoteCategoryCount(allVoteType) === 0">
                        <mat-icon>{{ allVoteType.matIcon }}</mat-icon>
                    </button>
                </ng-container>
            </div>
        </mat-card-actions>
        <mat-card-content class="vote-messages">
            <ng-container *ngFor="let vote of discussion.getVotes()">
                <app-vote-carousel [vote]="vote"></app-vote-carousel>
            </ng-container>
        </mat-card-content>
    </mat-card>
</ng-container>