.vote-type-profile {
    min-height: 50vh;
    overflow: auto;
    max-height: calc(100% - 165px);

    ::ng-deep p img {
        max-width: 90% !important;
    }
}

.vote-type-bigscreen-container {
    vertical-align: top;
}

.equal-divide {
    width: 50%;
}


@media (min-width: 1001px) {
    .till-medium-screen {
        display: none !important;
    }
}


@media (max-width: 1000px) {
    .big-screen {
        display: none !important;
    }
}