.error-container {
    max-width: 300px;
}

.error-message {
    border: solid 2px red;
    color: red;
    font-size: 12px;
}

.message-container {
    flex: 1 auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
}