.vote-container {
    font-size: smaller;
    border-bottom: solid 1px #efefef;
    width: 100%;

    tr {
        line-height: 30px;
    }

    .vote-user-icon {
        padding: 5px;
        width: 1px;

        div {
            width: 20px;
            height: 20px;
            text-align: center;
            border: solid 1px;
            border-radius: 50%;

            .votetype-icon {
                font-size: 14px;
                line-height: 20px;
                width: 15px;
                display: block;
                margin-left: 2px;
            }
        }
    }

    .vote-user-name {
        white-space: nowrap;
        padding-right: 16px;
    }

    .vote-action {
        white-space: nowrap;
    }

    .vote-message {
        width: 100%;
        padding: 16px 8px 8px;
        background-color: white;

        ::ng-deep p img {
            max-width: 90% !important;
        }
    }

    .vote-date {
        text-align: end;
        white-space: nowrap;
        padding-right: 16px;
        padding-left: 16px;
    }
}
