
.vote-container {
    font-size: smaller;
    border-bottom: solid 1px #efefef;
    width: 100%;

    .vote-user-icon {
        padding: 5px;

        div {
            width: 20px;
            height: 20px;
            text-align: center;
            border: solid 1px white;
            color: white;
            border-radius: 50%;
        }
    }

    .vote-user-name {
        white-space: nowrap;
        color: #dfdfdf;
        padding-right: 16px;
    }

    .vote-message {
        width: 100%;
        padding: 8px;
        padding-top: 16px;
        padding-top: 16px;
        background-color: white;
    
        ::ng-deep p img {
            max-width: 90% !important;
        }
    }

    .vote-date {
        text-align: end;
        white-space: nowrap;
        color: #dfdfdf;
        padding-right: 16px;
        padding-left: 16px;
    }
}

