.discussion-next-state {
    display: flex;
    color: gray;
}

@media (max-width: 480px) {
    .discussion-next-state {

        .discussion-state {
            line-height: 47px;
            font-size: 14px;
        }

        .discussion-icon {
            font-size: 16px;
        }
    }
}

@media (min-width: 481px) {
    .discussion-next-state {

        .discussion-state {
            line-height: 39px;
            font-size: 14px;
        }

        .discussion-icon {
            font-size: 20px;
        }
    }
}