.discussion-next-state {
    display: flex;
    color: white;

    .discussion-state-icon {
        mat-icon {
            color: white;
        }
    }

    .discussion-state {
        line-height: 47px;
        font-size: 12px;
    }
}

// Mobile
@media (max-width: 480px) {
    .discussion-next-state {

        .discussion-icon {
            font-size: 16px;
        }
    }
}

// All other than mobile
@media (min-width: 481px) {
    .discussion-next-state {

        .discussion-icon {
            font-size: 20px;
        }
    }
}