<ng-container *ngIf="discussion">
    <app-page-header [display]="discussion.title" color="subheader">
        <div class="action-buttons">

            <!-- Registration -->
            <app-discussion-register [discussion]="discussion" (changeState)="handleRegistrationStateChange($event)"
                class="bigscreen">
            </app-discussion-register>

            <!-- State -->
            <app-discussion-next-state [discussion]="discussion" [showControl]="isOwner" class="bigscreen"
                (changeState)="handleChangeState($event)">
            </app-discussion-next-state>

            <!-- Edit -->
            <button mat-icon-button color="local-primary"
                *ngIf="isOwner && !discussion.isVotingEnabled && !discussion.isRegistrationEnabled && !discussion.isBlocked"
                [routerLink]="['/discussion/editDiscussion/', discussion._id]">
                <mat-icon>edit</mat-icon>
            </button>

            <!-- Delete -->
            <button mat-icon-button color="warn"
                *ngIf="isOwner && !discussion.isVotingEnabled && !discussion.isRegistrationEnabled && !discussion.isBlocked"
                (click)="handleDeleteDiscussion()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </app-page-header>
    <app-page-header class="mobile" color="subheader-a">

        <app-discussion-register [discussion]="discussion" (changeState)="handleRegistrationStateChange($event)">
        </app-discussion-register>
        <app-discussion-next-state [discussion]="discussion" [showControl]="isOwner"
            (changeState)="handleChangeState($event)">
        </app-discussion-next-state>
    </app-page-header>

    <!-- Discussion Message -->
    <div class="discussion-message" [innerHTML]="discussion.message">
    </div>

    <!-- Voting & Registration Dates -->
    <div class="discussion-dates">

        <!-- Registration Dates -->
        <ng-container *ngIf="discussion.registrationStartDate" [ngTemplateOutlet]="dateDisplay"
            [ngTemplateOutletContext]="{
            dateValue: discussion.registrationStartDate,
            title: 'Registration Start Date'
        }">
        </ng-container>
        <ng-container *ngIf="discussion.registrationEndDate" [ngTemplateOutlet]="dateDisplay" [ngTemplateOutletContext]="{
            dateValue: discussion.registrationEndDate,
            title: 'Registration End Dates'
        }">
        </ng-container>

        <!-- Voting Dates -->
        <ng-container *ngIf="discussion.startDate" [ngTemplateOutlet]="dateDisplay" [ngTemplateOutletContext]="{
            dateValue: discussion.startDate,
            title: 'Voting Start Date'
        }">
        </ng-container>
        <ng-container *ngIf="discussion.endDate" [ngTemplateOutlet]="dateDisplay" [ngTemplateOutletContext]="{
            dateValue: discussion.endDate,
            title: 'Voting End Dates'
        }">
        </ng-container>
    </div>

    <!-- Votes Types for Voting -->
    <app-page-header [display]="'Votes'" [needSpacer]="false" color="subheader-a">

        <!-- Vote Types -->
        <div class="flex flex-scrollable">
            <ng-container *ngFor="let voteType of discussion.voteTypes">
                <app-mat-vote-type [voteType]="voteType" (voteTypeClick)="redirectToVoteType(voteType)"
                    [attr.title]="voteType.name"
                    [disabled]="!discussion.isVotingEnabled || discussion.isMyVoteType(voteType, loginProfile)"
                    [matBadgeCount]="discussion.getVoteCategoryCount(voteType)"
                    [isMatBadgeHidden]="discussion.getVoteCategoryCount(voteType) === 0">
                </app-mat-vote-type>
            </ng-container>
        </div>
    </app-page-header>

    <!-- Vote List -->
    <ng-container *ngFor="let vote of discussion.getVotes()">

        <app-vote-big-screen [vote]="vote" class="bigscreen"
            [showActionButton]="discussion.isMyVote(vote, loginProfile) && discussion.isVotingEnabled"
            (onEditClick)="redirectToVoteType(vote.voteType)" (onDeleteClick)="handleDeleteVote(vote)">
        </app-vote-big-screen>
        <app-vote-mobile-screen [vote]="vote" class="mobile"
            [showActionButton]="discussion.isMyVote(vote, loginProfile) && discussion.isVotingEnabled"
            (onEditClick)="redirectToVoteType(vote.voteType)"
            (onDeleteClick)="handleDeleteVote(vote)"></app-vote-mobile-screen>
    </ng-container>
</ng-container>
<br><br>


<ng-template #dateDisplay let-dateValue="dateValue" let-title="title">
    <div class="date-display-container" [ngClass]="
    {
        'past-date': isLessThanToday(dateValue),
        'today-date': isToday(dateValue)
    }">
        <div class="date-display-header">
            {{ title }}
        </div>
        <div class="date-display-subheader">
            {{ dateValue | date: 'YYYY' }}
        </div>
        <div class="date-display-body">
            {{ dateValue | date: 'dd' }}
        </div>
        <div class="date-display-footer">
            {{ dateValue | date: 'EEEE' }}
        </div>
    </div>
</ng-template>