<div *ngIf="registration && (isDiscussionOwner || isRegistrationOwner)" class="registration-next-state">

    <button mat-icon-button disabled class="registration-state-icon">
        <mat-icon [ngClass]="registration.stateObj?.className">
            {{ registration.stateObj?.icon }}
        </mat-icon>
    </button>
    <div class="registration-state" [ngClass]="registration.stateObj?.className">
        {{ registration.stateObj?.text }}
    </div>
    <ng-container *ngIf="showControl">
        <ng-container *ngFor="let nextState of registration.nextPossibleStates; let i = index;">
            <button mat-icon-button title="{{ nextState.text }}" (click)="changeState.emit(nextState)">
                <mat-icon [ngClass]="nextState.className">
                    {{ nextState.icon }}
                </mat-icon>
            </button>
        </ng-container>
    </ng-container>
</div>