.discuss-description {
    line-height: 30px;
}

.icon-list-item {
    height: auto !important;

    .votetype-image {
        padding-left: 10px;
        border-radius: 50%;
    }
}

.selected-mat-icon {
    padding: 10px;
    height: 37px;

    .selected-mat-icon {
        padding-top: 10px;
    }

    .option-select-title {
        font-size: 20px;
    }
}

.icon-bigscreen {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    .option-select-icon {
        width: 100px;

        .option-select-title {
            position: relative;
            z-index: 100;
            bottom: 3px;
            font-size: 12px;
            width: 80px;
            text-overflow: ellipsis;
            text-align: center;
            display: block;
            overflow: hidden;
        }
    }
}

@media (max-width: 480px) {

    .report-name,
    .report-range {
        width: 100%;
    }

    .dialog-title {
        font-size: 12px !important;
        white-space: nowrap;
    }

    .dialog-close {
        font-size: 20px;
        line-height: 25px;
    }

    .report-reg-check {
        width: 100%;
    }

    .report-range {
        display: block;
    }
    .report-range[isRegistrationAllowed="true"] {
        display: block;
    }
}

@media (min-width: 481px) and (max-width: 700px) {

    .report-name,
    .report-range {
        width: 50%;
    }

    .dialog-title {
        font-size: 20px;
        white-space: nowrap;
    }

    .dialog-close {
        font-size: 20px;
        line-height: 25px;
    }

    .report-reg-check {
        width: 50%;
    }
}

@media (min-width: 701px) {
    .report-name {
        width: 70%;
    }

    .report-range {
        width: 30%;
    }

    .report-reg-check {
        width: max-content;
        white-space: nowrap;
        padding-right: 16px;
    }
}