/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

// MAT color values
.mat-page-header:disabled {
    background-color: inherit;
    color: inherit;
}
.mat-page-header {
    background-color: #33363b !important;
    color: white;

    mat-icon, div, span, p {
        color: white;
    }
}

.mat-subheader:disabled {
    background-color: #368cbf !important;
    color: white !important;
}
.mat-subheader {
    background-color: #368cbf !important;
    color: white !important;
}

.mat-subheader-a:disabled {
    color: inherit !important;
    background-color: inherit;
    border-top: inherit;
}
.mat-subheader-a {
    color: black !important;
    background-color: #c8efffee !important;
    border-top: solid 2px #76d5fd99 !important;
}

.mat-matIcon-select:disabled {
    color: inherit !important;
}
.mat-matIcon-select {
    color: #c7339e !important;
}

// FLEX
.flex {
    display: flex;

    .flex-scrollable {
        flex: 1 auto !important;
        overflow-x: auto !important;
        line-height: 77px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;

    .flex-scrollable {
        flex: 1 auto;
        overflow-y: auto;
        line-height: 77px;
    }
}

// GLOBAL CUSTOM CSS
.invalid {
    color: red;
}

.fill-parent {
    max-height: -webkit-fill-available;
    width: 100%;
    height: 100%;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

.spacer {
    flex: 1 auto;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.min-width {
    width: 1px;
}

.logger-container {
    // width: 100px;
    max-width: 300px;

}

// Media queries
@media (max-width: 480px) {
    .bodybackground {
        background-image: url('./assets/bg_mobile.jpg');
        background-size: cover;
    }

    .mobile {
        display: inherit !important;
    }
    .bigscreen {
        display: none !important;
    }

    .standard-padding {
        padding: 10px;
    }

    .ql-editor {
        height: 150px !important;
    }
}

@media (min-width: 481px) {
    .bodybackground {
        background-image: url('./assets/bg_screen.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
    }

    .mobile {
        display: none !important;
    }

    .bigscreen {
        display: inherit !important;
    }

    .standard-padding {
        padding: 15px;
    }

    .ql-editor {
        height: 200px !important;
    }
}

@media (max-width: 400px) {
    .input-textarea-popup {
        width: 99%;
    }
}

@media (min-width: 401px) and (max-width: 760px) {
    .input-textarea-popup {
        width: 80%;
    }
}

@media (min-width: 761px) and (max-width: 1000px) {
    .input-textarea-popup {
        width: 60%;
    }
}

@media (min-width: 1000px) {
    .input-textarea-popup {
        width: 500px;
    }
}


// MAT classes override
.mat-mdc-snack-bar-label {
    max-width: 300px;
}

.mdc-snackbar__surface {
    padding-right: 0px !important;
    min-width: inherit !important;
}

.mdc-snackbar__label {
    padding: 0px !important;
}

.mat-badge-content {
    margin-top: 12px;
    margin-right: 10px;
}

.mat-mdc-icon-button.mat-accent {
    --mdc-icon-button-icon-color: #d10047 !important;
    --mat-mdc-button-persistent-ripple-color: #d10047 !important;
    --mat-mdc-button-ripple-color: #d100471a !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto !important;
}
