<app-page-header [display]="(id ? 'Edit' : 'Add') + '   Vote Type'"></app-page-header>
<form [formGroup]="voteTypeForm" (ngSubmit)="addType()" class="standard-padding">
    <mat-form-field class="report-name">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="report-name">
        <mat-label>Icon</mat-label>
        <input type="text" placeholder="Pick one" matInput formControlName="icon" [matAutocomplete]="auto">
        <mat-icon matSuffix *ngIf="voteTypeForm.controls['icon'].value">
            {{ voteTypeForm.controls['icon'].value }}
        </mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option
                *ngFor="let option of ((voteTypeForm.controls['icon'].value?.length > 0 || filteredMatIcons.length > 0) ? filteredMatIcons : matIcons)"
                [value]="option">
                <mat-icon>{{option}}</mat-icon>
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Report as</mat-label>
        <textarea matInput formControlName="reportName"></textarea>
    </mat-form-field>

    <div class="flex">
        <div class="spacer"></div>
        <button mat-raised-button type="button" *ngIf="id" (click)="cancelEdit()">
            Cancel Edit
        </button>
        <button mat-raised-button color="primary" type="submit"
            [disabled]="!voteTypeForm.touched || voteTypeForm.invalid">
            Save Vote Type
        </button>
    </div>
</form>

<table *ngIf="votingService.allVoteTypes.length > 0" class="full-width standard-padding">
    <tr>
        <td>
            <h3><b>Name</b></h3>
        </td>
        <td>
            <h3><b>Report</b></h3>
        </td>
        <td>
            <h3><b>Icon</b></h3>
        </td>
        <td class="min-width"></td>
        <td class="min-width"></td>
    </tr>
    <tr *ngFor="let votingtype of votingService.allVoteTypes">
        <td>{{ votingtype.name }}</td>
        <td>{{ votingtype.reportName }}</td>
        <td>
            <mat-icon>
                {{ votingtype.icon }}
            </mat-icon>
        </td>
        <td class="min-width">
            <button mat-icon-button (click)="handleEdit(votingtype)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
        <td class="min-width">
            <button mat-icon-button (click)="handleDeleteVote(votingtype)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </tr>
</table>